---

const {...props} = Astro.props
---

<!-- Header portfolio-->

<header {...props}>
    <nav>
        <a href="#">
            <img src="/favicon.svg" alt="LOGO">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/Experience">Experience</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>

    header {

        /* From https://css.glass */
		background: rgba(147, 167, 183, 0.8);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);

		border-radius: 0.5rem;

		/* Section Shadow */
		box-shadow: 0 0 1rem 0 rgba(72, 76, 89, 1);

		/* Section Border */
		border: 0.1rem solid rgba(0, 0, 0, 0.2);

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem 1rem;
        
        img{
            aspect-ratio: 1 / 1;
            width: 2.4rem;
        }
        
        ul {
            display: flex;
            gap: 1rem;
            
            li {
                list-style: none;
                
                a {
                    font-size: 1.2rem;
                    color: var(--secondary);
                    text-decoration: none;
                }
            }
        }
    }
</style>