---
export interface Props {
    title?: string;
    date?: Date;
}

const { title = "", ...props } = Astro.props;
---


<section {...props}>
    <header>
        {title && <h2>{title}</h2>}

    </header>

    <hr />

    <slot />

</section>

<style>

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;

    }
</style>

