---
import { basics } from "@cv/Spanish.json";

const { summary } = basics;
---

<div class="about">
    <p>{summary}</p>
</div>

<style>
    .about {
        p {
            white-space: pre-line;
        }
    }
</style>

